html {
  overflow-y: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.auto {
  flex: 1;
}

.scroll {
  margin-top: 1em;
  overflow: auto;
}

.hidden {
  display: none;
}

.galette {
  background-color: hsl(48, 100%, 67%);
}

.boisson {
  background-color: hsl(204, 86%, 53%);
}

.accompagnement {
  background-color: hsl(348, 100%, 61%);
}

.dessert {
  background-color: hsl(141, 71%, 48%);
}

@font-face {
  font-family: 'BTTF';
  src: url(./BTTF.ttf);
}
